.filamentList{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.filamentItem{
    padding: 10px;
    
}
.filamentCardDiv{
    display: flexbox;
    display: grid; 
    grid-template-columns: 128px 1fr 1fr;
    grid-template-rows: 128px 1fr 1fr;

    grid-template-areas:
    "picture ...... spinner"
    "...... ...... material"
    "...... ...... weight"
    "title ...... diameter"
    "brand occupation buttons" ;
}
.cardPicture{
    padding: 5px;
    width: 128px;
    border:1px black;
    grid-area: picture;
}
.cardTitle{
    grid-area: title;
    text-overflow: clip;
}
.cardSpinner{
    grid-area: spinner;
}
.cardButtons{
    grid-area: buttons;
    position: relative;
    right: -75px;
}
.cardDiameter{
    grid-area: diameter;
    position: relative;
    right: -30px;
    top: -30px;
}
.cardMaterial{
    position:relative;
    top: -95px;
    text-align: center;
    grid-area: material;
    font-size: x-large;
}
.cardWeight{
    grid-area: weight;
    position: relative;
    right: -30px;
    top: -30px;
}
.cardBrand{
    grid-area: brand;

}


.addFilamentButton{
    padding: 10px;
    cursor: pointer;
    display: flexbox;
    position: relative;
    top: 110px;
   
}


