.filamentForm{
    justify-content: left;
    display: flex;
}


.filamentItem{
    display: flexbox;
    padding: 10px;
}
.filamentsList{
    display: flex;
    flex-wrap:wrap;

}

.filamentCard{
    height: fit-content;
    display: grid;
    max-height: min-content;
    max-width:200px;
    align-items: center;
   
    
}
.addFilamentCard{

   display: grid;
   place-items: center;
   width: auto;
   height: auto;
   cursor: pointer;
    
}
.addFilamentButton{
    padding: 10px;
}
.progressAndButtons{
    display: grid;
    grid-template-columns: 95% 15%;
}
.cardProgress{
    margin-left: 10%;
    margin-top: 10%;
}
.material{
    position: relative;
    top: -67px;
    left: -23px;
    font-size: x-large;
    text-align: center;
    
    
}

.diameter{
    position: relative;
    top: -35px;
    left: 25px;
}




