.printersList{
    display: flex;
    flex-wrap: wrap;
}
.printersItem{
    
    padding: 10px;
}
.printerCard{
    
    display: flexbox;
    max-width: fit-content;
}
.cardImage{
    max-width: 128px;
}
.cardTitle{
    position: relative;
    text-align: center;
    top: 10px;
    

    
}