.printersList{
    display: flex;
    flex-wrap: wrap;
}
.printersItem{
    padding: 10px;
}
.printersItem:hover{
    transition: all 0.2s ease ;
    transform: scale(1.05);
}

.printerCard{
    
    display: flexbox;
    min-width: fit-content;
}
.cardImage{
    max-width: 128px;
}
.cardTitle{
    position: relative;
    text-align: center;
    top: 10px;
    

    
}