.printersList{
 
}
.printerItem{
    padding: 10px;
    cursor: pointer;
}
.printerItem:hover{
    padding: 10px;
    cursor: pointer;
    transform: scale(1.05);
    text-align: center;
    transition: all 0.1s ease ;
    
}
